body {
    background-color: beige;
    margin: 0;
    padding: 20px;
}

.contenitore {
    height: 10vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
}

.elemento {
    color: white;
}

#primo {
    /* inserisci qui il codice per il primo elemento*/
    justify-content: center;
    align-items: center;
}

#secondo {
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
}

#terzo {
    justify-content: flex-end;
    align-items: flex-end;
}

#quarto {
    justify-content: space-between;
    align-items: center;
}

#quinto {
    display: flex;
    justify-content: space-between;
}

#verde {
    background-color: lightseagreen;

}

#blu {
    background-color: lightskyblue;
}




